In [491]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [493]:
file_path = r'C:\Users\shour\Downloads\car_prices.csv'

In [495]:
df = pd.read_csv(file_path)

In [497]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [459]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [463]:
#Calculating Average sales price of Car
avg_sales_price = df['sellingprice'].mean()
print(avg_sales_price)

13611.358810003132

In [465]:
##Calculating Max sales price of Car
max_price = df['sellingprice'].max()
print(max_price)

230000.0

In [469]:
##Calculating Minimum sales price of Car
min_price = df['sellingprice'].min()
print(min_price)

1.0

In [485]:
#data Cleaning

In [499]:
#Renaming Columns
df = df.rename(columns = { 'year' : 'Year',
                          'make' : 'Brand Name',
                          'trim' : 'Version',
                          'body' : 'Body',
                          'transmission': 'Transmission',
                          'vin': 'Vin',
                          'state': 'State',
                          'condition' : 'Condition',
                          'color': 'Color',
                          'odometer': 'Odometer',
                          'interior' : 'Interior',
                          'seller' : 'Seller',
                          'mmr' : 'Manheim Market',
                          'sellingprice' : 'Price',
                          'saledate' : 'Sale Date'})

In [503]:
df.head(2)

,Year,Brand Name,model,Version,Body,Transmission,Vin,State,Condition,Odometer,Color,Interior,Seller,Manheim Market,Price,Sale Date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [505]:
#Capitalize row values from columns

In [517]:
capitaliz_columns = ['Transmission','Color', 'Interior']

In [519]:
for col in capitaliz_columns:
    df[col] = df[col].str.capitalize()

In [535]:
df.head(2)

,Year,Brand Name,model,Version,Body,Transmission,Vin,State,Condition,Odometer,Color,Interior,Seller,Manheim Market,Price,Sale Date
0,2015,Kia,Sorento,LX,SUV,Automatic,5xyktca69fg566472,CA,5.0,16639.0,White,Black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,Automatic,5xyktca69fg561319,CA,5.0,9393.0,White,Beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [523]:
#Upper State colunm

In [533]:
df['State'] = df['State'].str.upper()

In [537]:
#drop Unneccessary Columns

In [539]:
df.drop(['Vin','Odometer','Condition'], axis = 1, inplace = True)

In [541]:
df.head(2)

,Year,Brand Name,model,Version,Body,Transmission,State,Color,Interior,Seller,Manheim Market,Price,Sale Date
0,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [543]:
#Capitalizing each words in Seller Column

In [545]:
df['Seller']= df['Seller'].str.title()

In [547]:
df.head(2)

,Year,Brand Name,model,Version,Body,Transmission,State,Color,Interior,Seller,Manheim Market,Price,Sale Date
0,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Black,Kia Motors America Inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Beige,Kia Motors America Inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [549]:
#Extracting Day name from the Sale date column and creating a new column for day

In [553]:
df['Day'], df['Sale Date'] = df['Sale Date'].str[:3], df['Sale Date'].str[3:]

In [627]:
#Adding Month Column
df['Month'] = df['Sale Date'].str.extract(r'(\w+)')[0]

In [633]:
# Removing the time information from the 'Sale Date' column
df['Sale Date'] = df['Sale Date'].str.replace(r'\s+\d{2}:\d{2}:\d{2}.*$', '', regex=True)

In [635]:
df.head(2)

,Year,Brand Name,model,Version,Body,Transmission,State,Color,Interior,Seller,Manheim Market,Price,Sale Date,Day,Month
0,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Black,Kia Motors America Inc,20500.0,21500.0,Dec 16 2014,Tuesday,Dec
1,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Beige,Kia Motors America Inc,20800.0,21500.0,Dec 16 2014,Tuesday,Dec

In [597]:
df['Day'].value_counts()

Day
Wednesday    152165
Tuesday      145379
Thursday     137320
Friday        32481
Monday        14258
Sunday          137
Saturday          7
Name: count, dtype: int64

In [581]:
#Deleting Null Values from df

In [583]:
df.dropna(inplace = True)

In [589]:
#Checking null values after deleting null values
df.isnull().sum()

Year              0
Brand Name        0
model             0
Version           0
Body              0
Transmission      0
State             0
Color             0
Interior          0
Seller            0
Manheim Market    0
Price             0
Sale Date         0
Day               0
dtype: int64

In [591]:
df['Day'].isnull().sum()

0

In [593]:
full_form_day = {
    'Mon': 'Monday',
    'Tue': 'Tuesday',
    'Wed': 'Wednesday',
    'Thu': 'Thursday',
    'Fri': 'Friday',
    'Sat': 'Saturday',
    'Sun': 'Sunday'
}

df['Day'] = df['Day'].map(full_form_day)

In [637]:
df.head(2)

,Year,Brand Name,model,Version,Body,Transmission,State,Color,Interior,Seller,Manheim Market,Price,Sale Date,Day,Month
0,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Black,Kia Motors America Inc,20500.0,21500.0,Dec 16 2014,Tuesday,Dec
1,2015,Kia,Sorento,LX,SUV,Automatic,CA,White,Beige,Kia Motors America Inc,20800.0,21500.0,Dec 16 2014,Tuesday,Dec

In [621]:
df['Year'].unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000, 1999, 1998, 1995, 1996, 1997, 1994,
       1993, 1992, 1991, 1990], dtype=int64)

In [651]:
df['Month'].value_counts()

Month
Feb    142343
Jan    121404
Jun     85407
Dec     46005
May     43636
Mar     40592
Apr      1246
Jul      1114
Name: count, dtype: int64

In [657]:
df['Month'].unique()

array(['December', 'January', 'July', 'February', 'May', 'June', 'March',
       'April'], dtype=object)

In [639]:
#Making the month name in full form

In [653]:
months = {'Jan': 'January',
         'Feb': 'February',
         'Mar' : 'March',
         'Apr': 'April',
         'May': 'May',
         'Jun': 'June',
         'Jul': 'July',
         'Aug': 'August',
         'Sep': 'September',
         'Oct': 'October',
         'Nov': 'November',
         'Dec': 'December'}

df['Month'] = df['Month'].map(months)

In [667]:
df.head(2)

,Brand Name,model,Version,Body,Transmission,State,Color,Interior,Seller,Manheim Market,Price,Sale Date,Day,Month
0,Kia,Sorento,LX,SUV,Automatic,CA,White,Black,Kia Motors America Inc,20500.0,21500.0,Dec 16 2014,Tuesday,December
1,Kia,Sorento,LX,SUV,Automatic,CA,White,Beige,Kia Motors America Inc,20800.0,21500.0,Dec 16 2014,Tuesday,December

In [669]:
# Extract the year and create a new column 'Year'
df['Year'] = df['Sale Date'].str.extract(r'(\d{4})')[0]

In [671]:
df.head(2)

,Brand Name,model,Version,Body,Transmission,State,Color,Interior,Seller,Manheim Market,Price,Sale Date,Day,Month,Year
0,Kia,Sorento,LX,SUV,Automatic,CA,White,Black,Kia Motors America Inc,20500.0,21500.0,Dec 16 2014,Tuesday,December,2014
1,Kia,Sorento,LX,SUV,Automatic,CA,White,Beige,Kia Motors America Inc,20800.0,21500.0,Dec 16 2014,Tuesday,December,2014

In [673]:
#Reordering Columns
df = df[['Year','Month', 'Day','Brand Name', 'model','Body', 'Color','Interior','Transmission','Price','Manheim Market','Seller','State']]

In [679]:
df.head(10)

,Year,Month,Day,Brand Name,model,Body,Color,Interior,Transmission,Price,Manheim Market,Seller,State
0,2014,December,Tuesday,Kia,Sorento,SUV,White,Black,Automatic,21500.0,20500.0,Kia Motors America Inc,CA
1,2014,December,Tuesday,Kia,Sorento,SUV,White,Beige,Automatic,21500.0,20800.0,Kia Motors America Inc,CA
2,2015,January,Thursday,BMW,3 Series,Sedan,Gray,Black,Automatic,30000.0,31900.0,Financial Services Remarketing (Lease),CA
3,2015,January,Thursday,Volvo,S60,Sedan,White,Black,Automatic,27750.0,27500.0,Volvo Na Rep/World Omni,CA
4,2014,December,Thursday,BMW,6 Series Gran Coupe,Sedan,Gray,Black,Automatic,67000.0,66000.0,Financial Services Remarketing (Lease),CA
5,2014,December,Tuesday,Nissan,Altima,Sedan,Gray,Black,Automatic,10900.0,15350.0,Enterprise Vehicle Exchange / Tra / Rental / T...,CA
6,2014,December,Wednesday,BMW,M5,Sedan,Black,Black,Automatic,65000.0,69000.0,The Hertz Corporation,CA
7,2014,December,Tuesday,Chevrolet,Cruze,Sedan,Black,Black,Automatic,9800.0,11900.0,Enterprise Vehicle Exchange / Tra / Rental / T...,CA
8,2014,December,Thursday,Audi,A4,Sedan,White,Black,Automatic,32250.0,32100.0,Audi Mission Viejo,CA
9,2015,January,Tuesday,Chevrolet,Camaro,Convertible,Red,Black,Automatic,17500.0,26300.0,D/M Auto Sales Inc,CA

In [687]:
#Separating kia 
kia = df[df['Brand Name'] == 'Kia']

In [689]:
kia.head()

,Year,Month,Day,Brand Name,model,Body,Color,Interior,Transmission,Price,Manheim Market,Seller,State
0,2014,December,Tuesday,Kia,Sorento,SUV,White,Black,Automatic,21500.0,20500.0,Kia Motors America Inc,CA
1,2014,December,Tuesday,Kia,Sorento,SUV,White,Beige,Automatic,21500.0,20800.0,Kia Motors America Inc,CA
11,2014,December,Tuesday,Kia,Optima,Sedan,Red,Tan,Automatic,17700.0,15150.0,Kia Motors Finance,CA
13,2014,December,Tuesday,Kia,Sorento,SUV,Silver,Black,Automatic,21500.0,20600.0,Kia Motors America Inc,CA
32,2014,December,Tuesday,Kia,Sorento,SUV,Red,Black,Automatic,20750.0,20600.0,Kia Motors America Inc,CA

In [726]:
top_5_state_kia_sold = kia[['State']].value_counts().head(5)

In [728]:
top_5_state_kia_sold

State
FL       2866
TX       1804
CA       1720
GA       1224
OH       1116
Name: count, dtype: int64

In [734]:
top_5_kia_sellers = kia[['Seller']].value_counts().head(5)

In [736]:
top_5_kia_sellers

Seller
Kia Motors America  Inc    3821
Kia Motors Finance         1654
Avis Corporation            993
Santander Consumer          807
The Hertz Corporation       456
Name: count, dtype: int64

In [739]:
#seprating bmw
bmw = df[df['Brand Name'] == 'BMW']

In [742]:
bmw

,Year,Month,Day,Brand Name,model,Body,Color,Interior,Transmission,Price,Manheim Market,Seller,State
2,2015,January,Thursday,BMW,3 Series,Sedan,Gray,Black,Automatic,30000.0,31900.0,Financial Services Remarketing (Lease),CA
4,2014,December,Thursday,BMW,6 Series Gran Coupe,Sedan,Gray,Black,Automatic,67000.0,66000.0,Financial Services Remarketing (Lease),CA
6,2014,December,Wednesday,BMW,M5,Sedan,Black,Black,Automatic,65000.0,69000.0,The Hertz Corporation,CA
19,2014,December,Wednesday,BMW,6 Series,Convertible,Black,Black,Automatic,67200.0,68000.0,The Hertz Corporation,CA
21,2015,February,Tuesday,BMW,5 Series,Sedan,Black,Black,Automatic,30000.0,34200.0,Financial Services Remarketing (Lease),CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
558781,2015,July,Tuesday,BMW,3 Series,Sedan,Black,Black,Automatic,9300.0,7000.0,Century Sales & Leasing Inc,MO
558783,2015,July,Wednesday,BMW,3 Series,Sedan,Silver,—,Automatic,4500.0,3425.0,Central Auto Sales Inc,CA
558808,2015,July,Wednesday,BMW,1 Series,Convertible,Red,Black,Automatic,13000.0,12500.0,Autonet Trading,CA
558831,2015,July,Tuesday,BMW,5 Series,Sedan,White,Brown,Automatic,22800.0,20300.0,Lauderdale Imports Ltd Bmw Pembrok Pines,FL
558834,2015,July,Wednesday,BMW,X5,SUV,Black,Black,Automatic,34000.0,29800.0,Financial Services Remarketing (Lease),CA

In [748]:
bmw['Color'].nunique()

19

In [750]:
bmw['Color'].unique()

array(['Gray', 'Black', 'White', 'Silver', 'Blue', 'Brown', '—', 'Green',
       'Red', 'Beige', 'Gold', 'Purple', 'Charcoal', 'Burgundy', 'Orange',
       'Turquoise', 'Off-white', 'Pink', 'Yellow'], dtype=object)

In [762]:
#Finding bmw where there is no color or color = ''

bmw[bmw['Color'] == '—']

Empty DataFrame
Columns: [Year, Month, Day, Brand Name, model, Body, Color, Interior, Transmission, Price, Manheim Market, Seller, State]
Index: []

In [760]:
#Replacing '_' with 'Black'

# Assuming 'bmw' is your DataFrame
bmw['Color'] = bmw['Color'].replace('—', 'Magenta')

C:\Users\shour\AppData\Local\Temp\ipykernel_346936\2830050276.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmw['Color'] = bmw['Color'].replace('—', 'Magenta')

In [764]:
bmw.head(2)

,Year,Month,Day,Brand Name,model,Body,Color,Interior,Transmission,Price,Manheim Market,Seller,State
2,2015,January,Thursday,BMW,3 Series,Sedan,Gray,Black,Automatic,30000.0,31900.0,Financial Services Remarketing (Lease),CA
4,2014,December,Thursday,BMW,6 Series Gran Coupe,Sedan,Gray,Black,Automatic,67000.0,66000.0,Financial Services Remarketing (Lease),CA